extends layout

block content
	div.container
		div.jumbotron
			h1 Virginia Beach Crime Data
			p
				| This web site uses data aggregated from the City of Virginia Beach
				| <a href="https://wwws.vbgov.com/ePRO/MainUI/Incidents/IncidentsMain.aspx" target="_blank">electronic Police Reports Online</a>.

